<div layout="row" flex="60" flex-offset="30" flex-sm="100" flex-xs="95" flex-offset-xs="5">
    <div class="pageCardsCont" layout="column" layout-align="start end">
        <md-card class="md-padding pageTitle">
            <div>if(Shawn || Freshco)...</div>
        </md-card>
        <div class="md-padding contentDiv" style="margin-right: 5%;">
            <div class="pageContent">These days my tools are Axure, HTML5, CSS3, and Bootstrap. However, I began as a young neighborhood athlete, turned <a
                    href="https://www.youtube.com/watch?v=lDqOkPitFfc" target="_blank">recording artist</a>,
                turned
                sound-for-television <a href="http://www.imdb.com/name/nm1910925/?ref_=fn_al_nm_1"
                                        target="_blank">post-audio
                    designer</a>, turned devoted father, turned national Racquetball champion who turned
                full-time <a
                        ui-sref="portfolio">UX Designer/Developer</a> in 2011.
            </div>
        </div>
    </div>
</div>

