<div layout="row" flex="100">
    <div class="pageCardsCont" flex="50" flex-sm="100" flex-xs="90">
        <md-card class="md-padding pageTitle">
            <div>Give Me a Shout</div>
        </md-card>
        <div class="md-padding contentDiv">
            <div class="pageContent">
                <div>Email me: <a href="mailto: shawn@shawnconrad.com">shawn @ shawnconrad . com</a></div>
                <div>Call me: <a href="tel:+1-678-744-3915">678-744-3915</a></div>
            </div>
        </div>
    </div>
</div>