<div layout="row" flex="80" flex-md="60" flex-sm="80" flex-xs="95">
    <div class="pageCardsCont">
        <md-card class="md-padding pageTitle">
            <div>Give Me a Shout</div>
        </md-card>
        <div class="md-padding contentDiv">
            <div class="pageContent">
                <div>Email me: <a href="mailto: shawn@shawnconrad.com">shawn @ shawnconrad . com</a></div>
                <div>Call me: <a href="tel:+1-678-744-3915">678-744-3915</a></div>
            </div>
        </div>
    </div>
</div>